{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'static/style.css' %}">

</head>
{% include "header.html" %}

<body>



    <section id="about">
            <center>

                <section>
                    <h2>
                        Dare to Dream with us ! 
                    </h2>
                    <h1>
                        for an innovative and progressive future

                    </h1>
                </section>
            </center>
        <h2>About Us</h2>
        <p>HSA is dedicated to providing quality education and guidance to students. Our experienced faculty and comprehensive curriculum ensure that our students achieve their academic goals.</p>
    </section>
    
    <section id="courses">
        <h2>Courses</h2>
        <ul>
            <li>Mathematics</li>
            <li>Science</li>
            <li>English</li>
            <li>Marathi</li>
            <li>Competitive Exams Preparation</li>
            <li>Personality Development</li>
        </ul>
    </section>
    
    
    <section id="contact">
        <h2>Contact Us</h2>
        <p>Email: havalescienceacademy@gmail.com</p>
        <p>Phone:9022309441</p>
        <p>Address: Havale Science Academy, Ganeshwadi,Theur
        </p>

        <p>
            For Technical Queries: 
            <a href="rahulthube0805@gmail.com">rahulthube0805@gmail.com</a> 
            , 
            <a href="shrikeshgaikwad@gmail.com">shrikeshgaikwad@gmail.com</a>
        </p>
    </section>
    <footer>
        <p>&copy; HSA. All rights reserved.</p>
    </footer>
</body>
</html>
