{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'static/style.css' %}">

</head>
<header>
    <img src="static/logo.png" alt="Logo">
    <h1>HAVALE SCIENCE ACADEMY</h1>
    <h4>Way to Success</h4> 
</header>
<body>
    <style>
        body {
            background:linear-gradient(135deg, rgba(255, 255, 255, 0.9) 0%, rgba(241, 241, 241, 0.9) 50%, rgba(229, 229, 229, 0.9) 100%);
            background-image: url('https://www.transparenttextures.com/patterns/cubes.png'); /* A subtle geometric pattern */
            font-family: 'Helvetica Neue', Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #eaeef3;
            background-color: #000806;
        }
    </style>

    <nav>
        <a href="">Home</a>
        <a href="/courses/">Courses Offered</a>
        <a href="/result/">Results</a>
        <a href="/notes/">Notes</a>
        <a href="/events/"> Event Gallery</a>
        <a href="/about/">About Us</a>
        <a href="/contact/">Contact Us</a>
        <a href="/login/">Login</a>
    </nav>
    <section id="about">
            <center>

                <section>
                    <h2>
                        Dare to Dream with us ! 
                    </h2>
                    <h1>
                        for an innovative and progressive future

                    </h1>
                </section>
            </center>
        <h2>About Us</h2>
        <p>HSA is dedicated to providing quality education and guidance to students. Our experienced faculty and comprehensive curriculum ensure that our students achieve their academic goals.</p>
    </section>
    
    <section id="courses">
        <h2>Courses</h2>
        <ul>
            <li>Mathematics</li>
            <li>Science</li>
            <li>English</li>
            <li>Marathi</li>
            <li>Competitive Exams Preparation</li>
            <li>Personality Development</li>
        </ul>
    </section>
    
    
    <section id="contact">
        <h2>Contact Us</h2>
        <p>Email: havalescienceacademy@gmail.com</p>
        <p>Phone:9022309441</p>
        <p>Address: Havale Science Academy, Ganeshwadi,Theur
        </p>

        <p>
            for technical queries: shrikeshgaikwad@gmail.com
        </p>
    </section>
    <footer>
        <p>&copy; HSA. All rights reserved.</p>
    </footer>
</body>
</html>
