{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <script src="{% static 'static/script.js' %}"></script>

</head>
{% include "header.html" %}

<body>
    {% for notes in notes %}
    <div class="event-container" style = "width:300px">
        <embed src="{{ notes.noteFile.url }}" type="application/pdf" width="150px" height="200px" />
        <a href="{{ notes.notesFile.url }}" target="_blank">Open PDF</a>
        <p>std: {{ notes.std }}</p>
        <p>{{ notes.subject }}</p>
        <p>{{ notes.chaptername }}</p>
        {% endfor %}

</body>
{% include "footer.html" %}

</html>